<%= render partial: "layouts/nav", locals: { user: @user } %>
<%= render partial: "layouts/flash_message" %>
<%= render partial: "layouts/object_errors", locals: { object: @user } %>
<div id="show-user" class="text-center">
</div>
