<%= render partial: 'layouts/error' %>
<%= render partial: "layouts/nav", locals: { user: @user } %>
<% if !@user.nil? %>
  <div class="container-fluid">
    <%= "Logged in as #{@user.username}"%>
  </div>
<% end %>