<%= render partial: "layouts/nav", locals: { user: @user } %>
<%= render partial: 'layouts/flash_message' %>
<br>
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to Code With Others</h1>
      <p class="lead">Please excuse the mess! The front-end is currently being developed.</p>
    </div>
  </div>
</div>