<div class="bg">
  <%= render partial: "layouts/nav", locals: { user: @user } %>
  <%= render partial: 'layouts/flash_message' %>
  <div class="jumbotron container">
    <h1 class="display-4">Code With Others</h1>
    <p class="lead">Start coding and learning with others right now.</p>
    <a class="btn btn-primary btn-lg" href="/auth/github" role="button">Login with GitHub</a>
  </div>
</div>