/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary: #5f27cd;

@import 'bootstrap';
@import "font-awesome";

.jumbotron {
  border-style: solid;
  border-width: 1px;
  border-color: #576574;
  background-color: rgba(0, 0, 0, 0.815);
  color: #fff;
  margin-top: 10%;
  border-color: #000;
  width: 40%;
  box-shadow: 5px 10px #8c00ff2c;
}

.navbar {
  background-color: #000000;
}

.media img {
  width: 100px;
  height: auto;
  border-style: solid;
  border-width: 1px;
}

.badge-creator {
  color: #fff;
  background-color: #5f27cd;
}

.badge-dark {
  a:link {
    color: #fff;
  }

  a:visited {
    color: #fff;
  }

  a:hover {
    color: #fff;
  }
}

.bg {
  background-image: url('https://images.unsplash.com/photo-1504384764586-bb4cdc1707b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  position: absolute;
  width: 100%;
  height: 100%;
}

.users-admin-list {
  width: 10%;
  height: auto;
}

#users-link {
  color: #e74c3c;
}

.card-img-top {
  height: 150px;
  width: auto;
}

.event-list {
  list-style: none;
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
}

.event-list>li {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgb(51, 51, 51);
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
  padding: 0px;
  margin: 0px 0px 20px;
}

.event-list>li>time {
  display: inline-block;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(197, 44, 102);
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

.event-list>li:nth-child(even)>time {
  background-color: rgb(165, 82, 167);
}

.event-list>li>time>span {
  display: none;
}

.event-list>li>time>.day {
  display: block;
  font-size: 56pt;
  font-weight: 100;
  line-height: 1;
}

.event-list>li time>.month {
  display: block;
  font-size: 24pt;
  font-weight: 900;
  line-height: 1;
}

.event-list>li>img {
  width: 100%;
}

.event-list>li>.info {
  padding-top: 5px;
  text-align: center;
}

.event-list>li>.info>.title {
  font-size: 17pt;
  font-weight: 700;
  margin: 0px;
}

.event-list>li>.info>.desc {
  font-size: 13pt;
  font-weight: 300;
  margin: 0px;
}

.event-list>li>.info>.created {
  font-size: 10pt;
  font-weight: 300;
  margin: 0px;
  color: rgb(94, 94, 94);
}

.event-list>li>.info>ul,
.event-list>li>.social>ul {
  display: table;
  list-style: none;
  margin: 10px 0px 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
}

.event-list>li>.social>ul {
  margin: 0px;
}

.event-list>li>.info>ul>li,
.event-list>li>.social>ul>li {
  display: table-cell;
  cursor: pointer;
  color: rgb(30, 30, 30);
  font-size: 11pt;
  font-weight: 300;
  padding: 3px 0px;
}

.event-list>li>.info>ul>li>a {
  display: block;
  width: 100%;
  color: rgb(30, 30, 30);
  text-decoration: none;
}

.event-list>li>.social>ul>li {
  padding: 0px;
}

.event-list>li>.social>ul>li>a {
  padding: 3px 0px;
}

.event-list>li>.info>ul>li:hover,
.event-list>li>.social>ul>li:hover {
  color: rgb(30, 30, 30);
  background-color: rgb(200, 200, 200);
}

.github a,
.slack a,
.view-team a {
  display: block;
  width: 100%;
  color: rgb(75, 110, 168) !important;
}

.slack a {
  color: rgb(79, 213, 248) !important;
}

.view-team a {
  color: rgb(221, 75, 57) !important;
}

.github:hover a {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(75, 110, 168) !important;
}

.slack:hover a {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(79, 213, 248) !important;
}

.view-team:hover a {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px) {
  .event-list>li {
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
    padding: 0px;
  }

  .event-list>li>time,
  .event-list>li>img {
    display: inline-block;
  }

  .event-list>li>time,
  .event-list>li>img {
    width: 120px;
    float: left;
  }

  .event-list>li>.info {
    background-color: rgb(245, 245, 245);
    overflow: hidden;
  }

  .event-list>li>time,
  .event-list>li>img {
    width: 120px;
    height: 120px;
    padding: 0px;
    margin: 0px;
  }

  .event-list>li>.info {
    position: relative;
    height: 120px;
    text-align: left;
    padding-right: 40px;
  }

  .event-list>li>.info>.title,
  .event-list>li>.info>.desc {
    padding: 0px 10px;
  }

  .event-list>li>.info>.created {
    padding: 20px 10px;
  }

  .event-list>li>.info>ul {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }

  .event-list>li>.social {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 40px;
  }

  .event-list>li>.social>ul {
    border-left: 1px solid rgb(230, 230, 230);
  }

  .event-list>li>.social>ul>li {
    display: block;
    padding: 0px;
  }

  .event-list>li>.social>ul>li>a {
    display: block;
    width: 40px;
    padding: 10px 0px 9px;
  }

  .user-page {
    text-align: center;
  }

  .user-page div {
    border: 1px rgb(114, 114, 114) solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px auto;
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
  }

  .user-profile-image {
    width: 20%;
    height: auto;
  }
}